@model ProiectPentalog.Database.Models.Room

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h1>Details</h1>
    <hr />

    <div>
        <ul class="list-inline">
            <li><h2>@Html.DisplayNameFor(model => model.Dotari):  @Html.DisplayFor(model => model.Dotari)</h2></li>
        </ul>

        <br />

        <div>
            <img width="800" src="@String.Format("data:image/*;base64, {0}", Convert.ToBase64String(Model.BrandImage))" />
        </div>

        <ul class="list-inline">
            <li><h4>@Html.DisplayNameFor(model => model.Name):  @Html.DisplayFor(model => model.Name)</h4> </li>
            <li><h4>@Html.DisplayNameFor(model => model.Capacity):  @Html.DisplayFor(model => model.Capacity)</h4> </li>
        </ul>

        <hr />
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back", "Index")
    </p>
</div>